

.ui-landing {
    /*font-family: inherit;*/
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
    line-height: inherit;
}
.ui-wrapper-navbar {
    background-color: #1b2330;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 124px;
    margin: 0;
    z-index: 1;
    border-bottom: 1px solid #ec1f27;
}
.ui-wrapper-navbar__inner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    min-height: 100%;
    position: relative;
    max-width: 1600px;
    margin: 0 40px;
}

.home-subtitle {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    line-height: 1.5;
    padding: 5px 0 5px 20px;
    border-left: 5px solid #ec1f27;
    margin: 48px 0;
}

.home-tite {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 700;
    font-size: 48px;
    color: #ec1f27;
    line-height: 1.2;
}
.city-options:focus  {
    outline: none;
}

.city-options {
    /*font-size: 18px;
     padding: 10px 60px 10px 10px;
    color: black;
    background-image: linear-gradient(110deg,#72aed9,#40E0D0);
    margin-left: 12px;
    border-color: black;*/
    padding: 17px 65px 18px 39px;
    font-size: 21px;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://www.iconpacks.net/icons/2/free-arrow-down-icon-3101-thumb.png) 100% / 14% no-repeat #ddd;
    background-position: right 10% bottom 45%;
    background-color: initial;
    font-weight: 600;
}

.choose-city-label {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    margin: auto;
}

.home-signup-footer, .home-signup-footer:hover, .home-signup-footer:focus {
    height: auto;
    border-radius: 10px;
    background-color: #ec1f27;
    font-size: 28px;
    font-weight: 400;
    /*margin-top: 24px;
    margin-bottom: 30px;*/
    /*font-family: Roboto,sans-serif;*/
    min-width: 220px;
    /*padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;*/
    text-decoration: none;
    width: inherit;
    text-align: center;
    padding: 15px;
}

.keep-me-loop-text {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 700;
    font-size: 40px;
    color: #ec1f27;
    line-height: 1.2;
    padding-left: 5%;
}
.build-referel-network-text {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 700;
    font-size: 40px;
    color: #ec1f27;
    line-height: 1.2;
}

.w-100 {
    width: 100%;
}


.section1__inner-txt {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.section1__inner {
    width: 100%;
    max-width: 1600px;
    /*margin: 0 40px;*/
    margin: 0% 7% 0% 7%;
    display: flex;
    align-items: flex-end;
    /*justify-content: space-evenly;*/
    padding: 80px 0 20px;
}

.section1 {
    background-image: linear-gradient(110deg,#1b2330,#253040);
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1__inner-img {
    width: 40%;
    /*max-width: 360px;*/
}

.section1__inner-img img {
    width: 100%;
}

.sectionContact__inner .cnt-social {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    line-height: 1.2;
    margin: 20px 0 5px;
}

.sectionContact__inner .cnt-social {
    text-decoration: none;
}

.ui-landing__footer-inner .footer-logo {
    height: 100px;
    margin: 0 8px 8px 0;
}

.sectionContact__inner {
    width: 100%;
    max-width: 1600pxpx;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
    grid-template-areas:
        "cnt-main cnt-form"
        "cnt-social cnt-form";
    grid-column-gap: 50px;
    padding: 20px 0;
}

.sectionContact__inner .cnt-social p {
    margin-bottom: 10px;
    margin-top: 10px;
}

.sectionContact__inner .cnt-social p a, .sectionContact__inner .cnt-social p a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar-logo {
    height: 100px;
    margin: 0 8px 8px 0;
}

/*.bg-dark {
    background-image: linear-gradient(110deg,#1b2330,#253040);
}*/

.section1__inner-txt h1 {
    /*font-family: Roboto,sans-serif;*/
    font-weight: 700;
    font-size: 48px;
    color: #ec1f27;
    line-height: 1.2;
}

@media (max-width: 991px)
{
    .home-subtitle {
        font-size: 16px;
        /*font-family: Roboto,sans-serif;*/
        font-weight: 400;
        color: #fff;
        line-height: 1.5;
        padding: 0;
        border-left: none;
        margin: 0;
    }

    .choose-city-label {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    .city-options {
        font-size: 16px;
    }

    .ui-landing__footer-inner .footer-logo {
        height: 60px;
        margin: 0 8px 8px 0;
    }

    .section1__inner-txt {
        width: 65% !important;
    }
    .section1__inner-img {
        max-width:  0px !important;
    }
}

@media (max-width: 575px)
{
    .home-signup-footer {
        min-width: 60px;
        margin: 10px 0px 0px 0px;
        font-size: 16px;
    }
    .sectionContact__inner .cnt-social p {
        font-size: 18px;
        margin-top: 0px;
    }
    .sectionContact__inner {
        margin: 0 20px;
        grid-template-columns: 1fr;
        grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "cnt-main"
            "cnt-form"
            "cnt-social";
        padding: 30px 0;
    }
    .navbar-logo {
        height: 50px;
        margin: 0 8px 8px 0;
    }

    .section2__inner-txt-bottom{
        padding-left: 0% !important;
    }
}
.section2__inner-txt-bottom{
    padding-left: 15%;
}
.logo_hover:hover{
    color: #25aae1;
}
.city-dropdown {
    text-align: center;
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .section1__inner-txt {
    width: 100% !important;
  }
  .section2__inner-img img
    {
        display:none;
    }
    .mb-footer
    {
        display:block !important;
    }
    .desk-footer
    {
        display:none !important;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {

    .section1__inner-img
    {
        margin-bottom: -2rem !important;
    }
    .section2__inner-img img
    {
        display:block;
    }
    .section2__inner-img[data-v-76520ee6]
    {
        width: 45% !important;
        margin-right: 3.5rem !important;
    }
    .section2__inner-txt
    {
        width:50% !important;
        margin-top: 2.5rem;
    }
    .section3_inner-txt
    {
        width:50% !important;
    }
    .section3__inner-img 
    {
        width:50% !important; 
    }
    .section3__inner-img img
    {
        min-width: 400px !important;
    }
    .section1__inner-img img
    {
        height: 200px !important;
        width: 240px !important;
    }
    .section2__inner-img img[data-v-76520ee6]
    {
        width: 90% !important;
    }
}