.title_desk
{
    display:block;
    font-weight: bold;
}
.theme-text-red
{
    color: #ec1f27;
}
.theme-text-red a:hover
{
    color: #ec1f27 !important;
}
.header-bg
{
    background-color:#1b2330;
}
.btn-header
{
    height: auto;
    border-radius: 5px;
    background-color: #ec1f27;
    font-size: 18px;
    font-weight: 400;
    /*font-family: Roboto,sans-serif;*/
    min-width: 110px;
    text-decoration: none;
    width: inherit;
    text-align: center;
    padding: 5px;
    color:#fff;
}
 .signup_desk
    {
        display:block;
    }
    .signup_mb
    {
        display:none;
    }

@media only screen and (max-width: 600px) {
  .title_desk
    {
        font-size:16px;
         margin: 0rem;
    }
  
    .signup_desk
    {
        display:none;
    }
    .signup_mb
    {
        display:block;
    }
}

.home-page-text-color
{
    color:#000000 !important;
}

@media (min-width: 992px)
{
	.navbar-expand-lg .navbar-nav .nav-link {
	    padding-right: 2.5rem;
	    padding-left: 0.5rem;
	}
}

@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-collapse {
    display: contents!important;
    flex-basis: auto;
    }
}