html, body {
    background-color: #f5f5f5;
    color: #221d1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    margin: 0px;
}
.full-height {
    height: auto;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.title {
    font-size: 64px;
}
.content {
    margin-top: 5em;
}
.key-features span {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.footer {
    color:#2d2f30;
    bottom: 20px;
    display: block;
    margin-top: 5%;
}
.footer span {
    display: block;
}
.announcement {
    background-color: #009688;
    color: #ffffff;
    padding: 1px;
    top: 0;
    width: auto;
    margin: 0 auto;
    text-align: center;
}